html {
  font-family: arial, sans-serif;
  font-size: 12pt;
}

#top {
    width: 100%;
}

#bigbox {
  //max-height: 90%;
}

#left {
    float:left;
    width: 50%;
    height: 90%;
    overflow: scroll;
}

#right {
    float: right;
    width: 50%;
    height: 90%;
    overflow: scroll;
}

#bottom {
  height: 10%
}

div.imgresult {
    display: inline-block;
    width: 20%;
    margin: 5px;
}

img {
    max-width: 100%;
    max-height: 100%;
}
